# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
micromamba/

.vscode-server
.ruff_cache

# large folders
dist/*
tmp/*
src/IMLCV/examples/output/*

notebooks/alanine_dipeptide_LDA/*
notebooks/alanine_dipeptide_LDA_*/*
notebooks/alanine_dipeptide_sd_*/*

notebooks/test*
perov_images

.pip_cache

saved_out

notebooks/alanine_dipeptide_LDA/*

notebooks/alanine_dipeptide_LDA_*/*
put

Miniconda3/*
Miniconda3.sh
perovskites/*
micromamba/*
bin/*
src/IMLCV/.runinfo/*
notebooks/alanine_dipeptide_tica_*/*
perovskites/*
.jupyter_ystore.db

.virtual_documents/*
.jupyter_ystore.db-journal
thermolib_fix
workdir/schaling.py
workdir/scaling.png
workdir/schaling.py
**/.ipynb_checkpoints/**
src/IMLCV/data/mace/2023-12-10-mace-128-L0_epoch-199.model


nglview/*
workdir/*
plot.pdf
.gitignore
plot_data.pdf
plot_data.png
plot.png
notebooks/*/*
muller_brown_ref.png

# pixi environments
.pixi
*.egg-info
.pixi_cache
pixi_shell_hook.sh
