.vscode*

# Binary files
*.pyc
*.so
*.h5
ext.c
*.gz
*.bz2


# compiled stuff
__pycache__
IMLCV.egg-info
.ipynb_checkpoints

#plumed stuff

*.HILLS
*.COLVAR
*.plumed.log
COLVAR
HILLS
plumed.log

#sphinx

docs/build*
docs/source/rg_*

#files from examples
IMLCV/test/output/*
IMLCV/test/cython/build/temp.linux-x86_64-3.8/cpickle.o


runinfo/*
.parsl/*

#
.mongodb/*
.log/*
my_fworker.yaml
.gitignore
my_qadapter.yaml
my_launchpad.yaml


Miniconda3/*
Miniconda3.sh
