# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
# sphinx>=3.2.1
myst-parser
nbsphinx
nbsphinx-link
pandoc
sphinx
sphinx-autoapi
sphinx-autodoc-typehints
sphinx-book-theme>=1.0.0
sphinx-design
